[user]
    name = chyzwar
    email = schizek.marcin@gmail.com

[github]
    user = chyzwar

[core]

    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes

    editor = subl
    filemode = false
    trustctime = false

[alias]
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    ll = log --pretty=oneline -n 20 --graph --abbrev-commit

    #View commits history
    lm = log --pretty=format:'* %s (%h)'

    #View commits hitory with changes
    lg = log -p

    # View the current working tree status using the short format
    s = !"git status -s; git submodule foreach git status -s"

    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

    # `git di $number` shows the diff between the state `$number` revisions ago and the current state
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

    # Pull in remote changes for the current repository and all its submodules
    p = !"git pull; git submodule foreach git pull origin master"

    # Clone a repository including all submodules
    cr = clone --recursive

    # Commit all changes
    ca = !git add -A && git commit -av

    # Switch to a branch, creating it if necessary
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

    # Show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    ignored = ls-files --others -i --exclude-standard

    # Amend the currently staged files to the latest commit
    amend = commit --amend --reuse-message=HEAD

    # Credit an author on the latest commit
    credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

    # Interactive rebase with the given number of latest commits
    reb = "!r() { git rebase -i HEAD~$1; }; r"

    # Remove the old tag with this name and tag the latest commit with it.
    retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"

    # Find branches containing commit
    fb = "!f() { git branch -a --contains $1; }; f"

    # Find tags containing commit
    ft = "!f() { git describe --always --contains $1; }; f"

    # Find commits by source code
    fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

    # Find commits by commit message
    fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

    # Remove branches that have already been merged with master
    # a.k.a. ‘delete merged’
    dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

    # List contributors with number of commits
    contributors = shortlog --summary --numbered

    #in parralle execute git in dirs
    all = "!f() { ls | xargs -I{} git -C {} $1; };f"

    #unstage
    unstage = reset --hard HEAD

	# List files ignored by .gitignore and friends
	show-ignored = "! git clean -ndX | perl -pe 's/Would remove/Ignored:/'"

[color "branch"]

    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]

    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions

[color "status"]

    added = yellow
    changed = green
    untracked = cyan

[grep]
    lineNumber = true

[help]
    autocorrect = 1

[difftool]
    prompt = true

[mergetool]
    prompt = true

[push]
    default = simple

[fetch]
  prune = true


[merge]
  #use sublime merge as merge tool
  tool = sublimerge

  # Include summaries of merged commits in newly created merge commit messages
  log = true

[mergetool "sublimerge"]
  cmd = sublim -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"trustExitCode = false


[diff]
  tool = sublimerge

[difftool "sublimerge"]
  cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"
[credential]
	helper = cache --timeout=36000
[url "https://"]
	insteadOf = git://
