[user]
  name = chyzwar
  email = schizek.marcin@gmail.com

[github]
  user = chyzwar

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

  editor = vim
  filemode = false
  autocrlf = false

[alias]
  # List ignored files
  ignored = ls-files \
    --others \
    --ignored \
    --exclude-standard

  # List contributors
  contributors = shortlog \
    --summary \
    --email \
    --numbered

  find-branch = !sh -c \"git branch -a | grep -v remotes | grep $1 \"

[grep]
  lineNumber = true

[help]
  autocorrect = 1

[push]
  default = current

[fetch]
  prune = true
  
[init]
	defaultBranch = master
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[maintenance]
	repo = /home/raziel/StartupIdeas/Tenacify/deployer
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
