[user]
  name = chyzwar
  email = schizek.marcin@gmail.com

[github]
  user = chyzwar

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

  editor = vim
  filemode = false

[alias]
  # List ignored files
  ignored = ls-files --others --ignored --exclude-standard

  # List contributors
  contributors = shortlog --summary --email --numbered

[grep]
  lineNumber = true

[help]
  autocorrect = 1

[push]
  default = simple

[fetch]
  prune = true
